<%= form_for [:user, @post] do |f| %>
  <fieldset class="form-group">
    <%= f.label :title %> </br>
    <%= f.text_field :title, class: "form-control" %></br>
    <%= f.label :content %></br>
    <%= f.text_area :content, class: "form-control" %></br>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
