  <div class=<%= klass %> >
    <div class="post">
      <h3><%= link_to post.title, user_post_path(post.user, post.id) %></h3>
      <p> <%= post.snippet %> </p>
      <% if (post.thumbnail) && image %>
        <%= image_tag(post.thumbnail.image.url(:thumb), class: "thumbnail") %>
      <% end %>
      <% if author %>
        <div class="author">
          By, <%= post.user.name %> <span class="divider">•</span>
          <span class="last-update"> <%= updated_at(post) %> </span>
        </div>
      <% else %>
        <span class="last-update"> <%= updated_at(post) %> </span>
      <% end %>
    </div>
  </div>
