<div class="col-sm-4 sidebar">
  <ul>
    <li><%= link_to "Home", posts_path %></li>
    <li><%= link_to "My Blog", user_path(current_user) %></li>
    <li><%= link_to "Preferences", edit_user_path(current_user) %></li>
    <li><%= link_to "New Post", new_user_post_path(current_user) %></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
  </ul>
</div>
